<nav class="navbar navbar-expand-lg navbar-dark bg-primary {{ if .IsHome }}fixed-top nav-at-top{{else}}sticky-top{{ end }}" id="main-nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
            <img src="/img/Avatar128.png" width="30" height="30" class="d-inline-block align-top" alt="Nils' Avatar">
            {{ .Site.Title }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li class="nav-item">
                <a class="nav-link{{ if $currentPage.IsMenuCurrent "main" . }} active" aria-current="page{{ end }}" href="{{ .URL }}">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
            </ul>
            <div class="nav-item w-fit-content">
                <a class="nav-link mb-2 mb-lg-auto mx-2 px-1 mx-lg-3" id="feedback-button" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" data-bs-title="Feedback" aria-label="Feedback"
                    href="https://github.com/nalsai/nalsai.de/issues/new/choose" target="_blank">
                    <i class="bi bi-github"></i><span class="d-inline d-lg-none">&nbsp;Feedback</span>
                </a>
            </div>
            {{ if .IsTranslated }}
            <div class="dropdown w-fit-content">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-translate"></i>&nbsp;{{ .Language.LanguageName }}
                </button>
                <ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end" aria-labelledby="languageDropdown">
                    {{ range .AllTranslations }}
                    <li><a class="dropdown-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </div>
    </div>
</nav>