{{ define "main" }}
<main class="container py-5">
    <div class="row text-center mb-3">
        <div class="col-lg-10 mx-auto">
            <h1 class="display-4">{{ .Title }}</h1>
            {{ with .Params.tags }}{{ range $tag := . }}<a class="badge rounded-pill bg-primary text-decoration-none my-3" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a> {{ end }}{{ end }}
            <p class="lead mb-0">{{ .Description }}</p>
            <p class="lead">{{ .Content }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto mb-4 pb-2">
            <ul class="timeline">
                {{ range (where .RegularPages ".Params.unlisted" "!=" "true") }}
                {{ $page := . }}
                <a href="{{ .RelPermalink }}" class="text-black text-decoration-none">
                    <li class="timeline-item rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">{{ .Title }} {{ .Params.japanese }}</h2>
                        <span class="small">
                            {{ if .Params.release }}
                                <i class="bi bi-calendar4-event"></i>&nbsp;{{ .Params.release }}
                                &nbsp;
                            {{ end }}
                            {{ if .Params.authors }}
                                <i class="bi bi-person-circle"></i>&nbsp;{{ range $i, $e := .Params.authors }}{{ if $i }}, {{ end }}{{ with $page.GetPage (printf "%s%s%s" "autoren/" . ".md" ) }}{{ .Title }}{{ else }}{{ . }}{{ end }}{{ end}}
                                &nbsp;
                            {{ end }}
                            {{ if .Params.genres }}
                                <i class="bi bi-blockquote-left"></i>&nbsp;{{ range $i, $e := .Params.genres }}{{ if $i }}, {{ end }}{{ with $page.GetPage (printf "%s%s%s" "genres/" . ".md" ) }}{{ .Title }}{{ else }}{{ . }}{{ end }}{{ end }}
                                &nbsp;
                            {{ end }}
                        </span>
                        <p class="text-small mt-2 font-weight-light">{{ if .Description }}{{ .Description }}{{ end }}</p>
                    </li>
                </a>
                {{ end }}
            </ul>
        </div>
    </div>
</main>
{{ end }}
