{{ define "main" }}
<style>
/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 2.5rem;
}

 /* Timeline vertical line */
ul.timeline::before {
    content: ' ';
    background: #f3f3f3;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 102.4%;
    z-index: 400;
    border-radius: 1rem;
    top: 2rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #f3f3f3;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

li.timeline-item {
    background: #f3f3f3;
    transition: 240ms ease;
}
li:hover.timeline-item {
    background: #fff;
    transition: 200ms ease;
}

/*
body {
    background: #E8CBC0;
    background: -webkit-linear-gradient(to right, #E8CBC0, #636FA4);
    background: linear-gradient(to right, #E8CBC0, #636FA4);
    min-height: 100vh;
}
*/

.bi {
  vertical-align: sub;
}
</style>

<main class="container py-5">
    <div class="row text-center mb-3">
        <div class="col-lg-10 mx-auto">
            <h1 class="display-4">{{ .Title }}</h1>
            {{ with .Params.tags }}{{ range $tag := . }}<a class="badge rounded-pill bg-primary text-decoration-none my-3" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a> {{ end }}{{ end }}
            <p class="lead mb-0">{{ .Description }}</p>
            <p class="lead">{{ .Content }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto mb-4 pb-2">
            <ul class="timeline">
                {{ range (where .RegularPages ".Params.unlisted" "!=" "true") }}
                {{ $page := . }}
                <a href="{{ .RelPermalink }}" class="text-black text-decoration-none">
                    <li class="timeline-item rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">{{ .Title }} {{ .Params.japanese }}</h2>
                        <span class="small">
                            {{ if .Params.release }}
                                <i class="bi bi-calendar4-event"></i>&nbsp;{{ .Params.release }}
                                &nbsp;
                            {{ end }}
                            {{ if .Params.authors }}
                                <i class="bi bi-person-circle"></i>&nbsp;{{ range $i, $e := .Params.authors }}{{ if $i }}, {{ end }}{{ with $page.GetPage (printf "%s%s%s" "autoren/" . ".md" ) }}{{ .Title }}{{ else }}{{ . }}{{ end }}{{ end}}
                                &nbsp;
                            {{ end }}
                            {{ if .Params.genres }}
                                <i class="bi bi-blockquote-left"></i>&nbsp;{{ range $i, $e := .Params.genres }}{{ if $i }}, {{ end }}{{ with $page.GetPage (printf "%s%s%s" "genres/" . ".md" ) }}{{ .Title }}{{ else }}{{ . }}{{ end }}{{ end }}
                                &nbsp;
                            {{ end }}
                        </span>
                        <p class="text-small mt-2 font-weight-light">{{ if .Description }}{{ .Description }}{{ end }}</p>
                    </li>
                </a>
                {{ end }}
            </ul>
        </div>
    </div>
</main>
{{ end }}
