{{ define "head" }}
<script>
	var remark_config = {
		host: "{{ .Site.Params.remark42.host }}",
		site_id: "{{ .Site.Params.remark42.site }}",
        locale: "{{ .Site.Language.Lang }}",
        theme: document.documentElement.getAttribute('data-bs-theme') || "dark"
	}
</script>

<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
{{ end }}

{{ define "main" }}
{{ $page := . }}
<main class="container mt-3 print-pt-0">
    <a href="../" class="bi-chevron-left text-decoration-none d-print-none"> Zur Übersicht</a>
    <div class="row text-center mt-3 mb-5 print-mt-0">
        <div class="col-lg-10 mx-auto">
            <h1 class="mb-4 mt-4 display-5">{{ .Title }} {{ .Params.japanese }}</h1>
            {{ if .Description }}<p class="lead text-justify">{{ .Description }}</p>{{ end }}
            <!--<hr class="my-4">-->
            {{ if .Params.release }}
                <i class="bi bi-calendar4-event"></i>&nbsp;{{ .Params.release }}
                &nbsp;
            {{ end }}
            {{ if .Params.authors }} 
                <i class="bi bi-person-circle"></i>&nbsp;{{ range $i, $e := .Params.authors }}{{ if $i }}, {{ end }}{{ with $page.GetPage (printf "%s%s%s" "autoren/" . ".md" ) }}<a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ else }}{{ . }}{{ end }}{{ end }}
                &nbsp;
            {{ end }}
            {{ if .Params.genres }}
                <i class="bi bi-blockquote-left"></i>&nbsp;{{ range $i, $e := .Params.genres }}{{ if $i }}, {{ end }}{{ with $page.GetPage (printf "%s%s%s" "genres/" . ".md" ) }}<a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ else }}{{ . }}{{ end }}{{ end }}
                &nbsp;
            {{ end }}
            {{ if .Params.translation }}
                <i class="bi bi-translate"></i>&nbsp;„{{ .Params.translation }}”
                &nbsp;
            {{ end }}
        </div>
    </div>
    <div class="my-3">
        {{ .Content }}
    </div>
    {{if .NextInSection}}
    <a href="{{with .NextInSection }}{{.RelPermalink}}{{end}}" class="mt-4 d-print-none" style="position: fixed; left: 10px; top: 50%; transform: translateY(-50%);">
        <i class="bi bi-chevron-left"></i>
    </a>
    {{ end }}
    {{if and .PrevInSection (not .PrevInSection.Params.unlisted)}}
    <a href="{{with .PrevInSection }}{{.RelPermalink}}{{end}}" class="mt-4 d-print-none" style="position: fixed; right: 10px; top: 50%; transform: translateY(-50%);">
        <i class="bi bi-chevron-right"></i>
    </a>
    {{ end }}
    <hr>
    <h2>{{ i18n "comments" }}</h2>
    <div id="remark42"></div>
</main>
{{ end }}
