<div class="text-center py-4">
    <a class="web-button" href="https://nalsai.de"><img src="/img/button.png" alt="nalsai.de button"></a>
    <h3 class="mt-4 mb-1">Cool people</h3>
    <p>Feel free to send me a message, if you want your button to be added.</p>
    <a class="web-button" href="https://astrothewhiteshadow.github.io" target="_blank"><img src="https://astrothewhiteshadow.github.io/img/button.png" alt="astrothewhiteshadow.github.io button"></a>
    <a class="web-button" href="https://mariomasta64.me" target="_blank"><img src="https://mariomasta64.me/oomfies/optimized/good_logo.png" alt="MarioMasta64"></a>
    <h3 class="mt-4 mb-3">Cool stuff</h3>
    <a class="web-button" href="https://fedoraproject.org/" target="_blank"><img src="/img/buttons/fedora.png" alt="fedora button"></a>
    <a class="web-button" href="https://jellyfin.org/" target="_blank"><img src="/img/buttons/jellyfin.gif" alt="jellyfin button"></a>
    <a class="web-button" href="magnet:?xt=urn:btih:2bcb5dff67c1cd2ed8979747351e9415127084ae&dn=seed_this_torrent.png&tr=wss%3a%2f%2ftracker.btorrent.xyz&tr=wss%3a%2f%2ftracker.openwebtorrent.com&tr=udp%3a%2f%2ftracker.leechers-paradise.org%3a6969&tr=udp%3a%2f%2ftracker.coppersurfer.tk%3a6969&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337&tr=udp%3a%2f%2fexplodie.org%3a6969&tr=udp%3a%2f%2ftracker.empire-js.us%3a1337"><img src="/img/buttons/sharingiscaring.gif" alt="sharingiscaring button"></a>
    <a class="web-button" href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank"><img src="/img/buttons/vcss.png" alt="Valid CSS!"></a>
</div>