<header id="intro" class="text-center bg-dark text-white">
    <div class="col-lg-10 col-xl-8 p-lg-5 mx-auto" id="intro-text">
        <h1 class="d-none d-sm-block display-3 font-weight-normal pb-3 animate animate-slide">{{ .Site.Title }}</h1>
        <h1 class="d-block d-sm-none font-weight-normal pb-3 animate animate-slide">{{ .Site.Title }}</h1>
        <p id="QuotesEtc" class="lead font-weight-normal py-3 mb-5 animate animate-blur delay-1">I see that you don't have JavaScript enabled...</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="2476" height="456" version="1.0" viewBox="0 0 1857 342" fill="currentColor" class="bottom-svg">
        <path d="M-6 275v67h1863c0-56 280-307-187-180-402 96-451 124-748 68-74-14-272-49-463 9-169 58-266 48-465 2z"/>
    </svg>
</header>