<header id="intro" class="text-center bg-dark text-white">
    <div class="col-lg-10 col-xl-8 p-lg-5 mx-auto" id="intro-text">
        <h1 class="d-none d-sm-block display-3 font-weight-normal pb-3 animate animate-slide">{{ .Site.Title }}</h1>
        <h1 class="d-block d-sm-none font-weight-normal pb-3 animate animate-slide">{{ .Site.Title }}</h1>
        <p id="QuotesEtc" class="lead font-weight-normal py-3 mb-5 animate animate-blur delay-1">I see that you don't have JavaScript enabled...</p>
    </div>
    <img src="/img/header-wave.svg" class="bottom-svg" role="presentation" alt="">
</header>