<script>
    console.log("Hello there! 👋");
    console.log("( ⸝⸝•ᴗ•⸝⸝ )੭⁾⁾");

    // make navbar opaque/transparent depending on scroll position
    const o = document.getElementById("main-nav");
    window.addEventListener("scroll", (function (e) {
        let scrollPos = window.scrollY || window.scrollTop || document.getElementsByTagName("html")[0].scrollTop;
        scrollPos > 120 ? o.classList.remove("nav-at-top") : o.classList.add("nav-at-top")
    }))

    // get date
    const d = new Date();
    const Year = d.getFullYear();
    const Month = d.getMonth();
    const DayOfWeek = d.getDay();
    const DayOfMonth = d.getDate();
    const Hours = d.getHours();

    // change to daytime image between 8 and 18 o'clock
    if (Hours > 7 && Hours < 18) {
        document.getElementById("intro").style.background = "linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url('/img/THA45242.jpg') no-repeat center center fixed";
        document.getElementById("intro").style.backgroundSize = "cover";
    }

    // update age
    const birthDate = new Date("2002-12-13");
    let age = Year - birthDate.getFullYear();
    const m = Month - birthDate.getMonth();
    if (m < 0 || (m === 0 && DayOfMonth < birthDate.getDate())) { age--; }
    document.getElementById("age").innerHTML = age;

    // random quotes
    if (Month === 11 && DayOfMonth === 13) {
        document.getElementById("QuotesEtc").innerHTML = "Ich habe Geburtstag!";
    }
    else if (Month === 11 && DayOfMonth === 24 || Month === 11 && DayOfMonth === 25 || Month === 11 && DayOfMonth === 26) {
        quotes = [];
        quotes[0] = "<a href=\"https://www.youtube.com/watch?v=dQ_d_VKrFgM\" target=\"_blank\" rel=\"noopener\">Frohe Weihnachten<\a>";
        quotes[1] = "<a href=\"https://www.youtube.com/watch?v=dQ_d_VKrFgM\" target=\"_blank\" rel=\"noopener\">Merry Christmas<\a>";
        quotes[2] = "<a href=\"https://www.youtube.com/watch?v=dQ_d_VKrFgM\" target=\"_blank\" rel=\"noopener\">メリークリスマス<\a>";
        quotes[3] = "<a href=\"https://www.youtube.com/watch?v=efdN69QscAg\" target=\"_blank\" rel=\"noopener\">hashire sori yo kaze no you ni tsukimihara wo padoru padoru<\a>";
        index = Math.floor(Math.random() * quotes.length);
        document.getElementById("QuotesEtc").innerHTML = quotes[index];
    }
    else if (Month === 11 && DayOfMonth === 31 || Month === 0 && DayOfMonth === 1) {
        quotes = [];
        quotes[0] = "Frohes neues Jahr!";
        quotes[1] = "Happy new year";
        quotes[2] = "明けましておめでとうございます。";
        index = Math.floor(Math.random() * quotes.length);
        document.getElementById("QuotesEtc").innerHTML = quotes[index];
    }
    else {
        quotes = [];
        quotes[0] = "&nbsp;";
        quotes[1] = "Why do Java Developers need glasses? Because they can't C#.";
        quotes[2] = "„Das Problem mit Zitaten im Internet ist, dass man nie weiß, ob sie echt sind.“<br>- Goethe";
        quotes[3] = "seven ate nine";
        quotes[4] = "Fall.net";
        quotes[5] = "Have a nice trip, see you next fall!";
        quotes[6] = "Illuminati confirmed!";
        quotes[7] = "お前はもう死んでいる";
        quotes[8] = "ちゅんちゅんまる";
        quotes[9] = "え アタシ！？";
        quotes[10] = "分かんない";
        quotes[11] = "時は金なり";
        quotes[12] = "遠くてちかきもの<br>極樂。船の道。男女の中。";
        quotes[13] = "<a href=\"https://www.youtube.com/watch?v=dQw4w9WgXcQ\" target=\"_blank\" rel=\"noopener\">https://www.youtube.com/watch?v=dQw4w9WgXcQ</a>";
        quotes[14] = "<a href=\"https://www.youtube.com/watch?v=QdEOL1HGtXE\" target=\"_blank\" rel=\"noopener\">https://www.youtube.com/watch?v=QdEOL1HGtXE</a>";
        quotes[15] = "<a href=\"https://www.youtube.com/watch?v=VyX6akEAE1s\" target=\"_blank\" rel=\"noopener\">https://www.youtube.com/watch?v=VyX6akEAE1s</a>";
        quotes[16] = "<a href=\"https://www.youtube.com/watch?v=0NXLKOfXkoI\" target=\"_blank\" rel=\"noopener\">https://www.youtube.com/watch?v=0NXLKOfXkoI</a>";
        quotes[17] = "<a href=\"https://www.youtube.com/watch?v=ShDyYY6X8Mg\" target=\"_blank\" rel=\"noopener\">https://www.youtube.com/watch?v=ShDyYY6X8Mg</a>";
        quotes[18] = "<a href=\"https://www.youtube.com/watch?v=LNaD6Q-ybxE\" target=\"_blank\" rel=\"noopener\">https://www.youtube.com/watch?v=LNaD6Q-ybxE</a>";
        quotes[19] = "No ads here!";

        if (DayOfWeek === 3)
            quotes[quotes.length++] = "It's wednesday my dudes!";
        if (Month === 10 | Month === 11)
            quotes[quotes.length++] = "<a href=\"https://www.youtube.com/watch?v=efdN69QscAg\" target=\"_blank\" rel=\"noopener\">hashire sori yo kaze no you ni tsukimihara wo padoru padoru<\a>";
        if (typeof InstallTrigger !== 'undefined')
            quotes[quotes.length++] = "You're using Firefox!";
        if (!!window.chrome && (!!window.chrome.webstore || !!window.chrome.runtime))
            quotes[quotes.length++] = "You're using Chrome or a browser based on it 😒";

        index = Math.floor(Math.random() * quotes.length);
        document.getElementById("QuotesEtc").innerHTML = quotes[index];
    }
</script>