<div class="text-center my-5 py-4 pb-2">
    <a class="logo" href="mailto:contact@nalsai.de" target="_blank" rel="noopener"><img src="/img/logos/E-Mail.svg" alt="E-Mail Logo"></a>
    <a class="logo invert-light" href="https://github.com/nalsai" target="_blank" rel="noopener"><img src="/img/logos/GitHub.svg" alt="GitHub Logo"></a>
    <a class="logo" href="https://twitter.com/nalsai_" target="_blank" rel="noopener"><img src="/img/logos/twitter.svg" alt="Twitter Logo"></a>
    <a class="logo" href="https://www.instagram.com/nalsai_/" target="_blank" rel="noopener"><img src="/img/logos/Instagram.svg" alt="Instagram Logo"></a>
    <a class="logo" href="https://www.youtube.com/channel/UC-wQRakfwvTqrgPBF0_h_BQ" target="_blank" rel="noopener"><img src="/img/logos/YouTube.svg" alt="YouTube Logo"></a>
    <a class="logo" href="https://www.amazon.de/hz/wishlist/ls/1SBKLNVR41QIR" target="_blank" rel="noopener"><img src="/img/logos/Amazon.svg" alt="Amazon Germany Logo"></a>
    <a class="logo" href="https://www.amazon.co.jp/hz/wishlist/ls/3EEGZY8N84QQB" target="_blank" rel="noopener"><img src="/img/logos/AmazonJP.svg" alt="Amazon Japan Logo"></a>
    <a class="logo" href="http://steamcommunity.com/id/nalsai/" target="_blank" rel="noopener"><img src="/img/logos/Steam.svg" alt="Steam Logo"></a>
    <a class="logo" href="https://anilist.co/user/nalsai/" target="_blank" rel="noopener"><img src="/img/logos/AniList.svg" alt="AniList Logo"></a>
    <a class="logo" href="https://musicbrainz.org/user/nalsai" target="_blank" rel="noopener"><img src="/img/logos/MusicBrainz.svg" alt="MusicBrainz Logo"></a>
    <a class="logo" href="https://en.wikipedia.org/wiki/User:Nalsai" target="_blank" rel="noopener"><img src="/img/logos/Wikipedia.svg" alt="Wikipedia Logo"></a>
</div>