<style>
    .logo {
        margin: 0 6px;
    }

    .logo img {
        height: 75px;
        width: 75px;
        transition: all .2s ease-in-out;
    }

    .logo img:hover {
        transform: scale(1.1);
    }
</style>

<section class="py-4">
    <div class="text-center">
        <a class="logo" href="mailto:contact@nalsai.de" target="_blank" rel="noopener">
            <img src="/img/Logos/E-Mail.svg" alt="E-Mail Logo">
        </a>
        <a class="logo" href="https://github.com/Nalsai" target="_blank" rel="noopener">
            <img src="/img/Logos/GitHub.svg" alt="GitHub Logo">
        </a>
        <a class="logo" href="https://www.instagram.com/nalsai_/" target="_blank" rel="noopener">
            <img src="/img/Logos/Instagram.svg" alt="Instagram Logo">
        </a>
        <a class="logo" href="https://www.youtube.com/channel/UC-wQRakfwvTqrgPBF0_h_BQ" target="_blank" rel="noopener">
            <img src="/img/Logos/YouTube.svg" alt="YouTube Logo">
        </a>
        <a class="logo" href="https://www.amazon.de/hz/wishlist/ls/1SBKLNVR41QIR" target="_blank" rel="noopener">
            <img src="/img/Logos/Amazon.svg" alt="Amazon Logo">
        </a>
        <a class="logo" href="http://steamcommunity.com/id/nalsai/" target="_blank" rel="noopener">
            <img src="/img/Logos/Steam.svg" alt="Steam Logo">
        </a>
        <a class="logo" href="https://myanimelist.net/profile/Nalsai" target="_blank" rel="noopener">
            <img src="/img/Logos/MAL.png" alt="MAL Logo">
        </a>
    </div>
</section>