<style>
    .logo {
        margin: 0 6px;
    }

    .logo img {
        height: 75px;
        width: 75px;
        transition: all .2s ease-in-out;
    }

    .logo img:hover {
        transform: scale(1.1);
    }
</style>

<section class="py-4">
    <div class="text-center">
        <a class="logo" href="mailto:contact@nalsai.de" target="_blank" rel="noopener"><img src="/img/logos/E-Mail.svg" alt="E-Mail Logo"></a>
        <a class="logo" href="https://github.com/Nalsai" target="_blank" rel="noopener"><img src="/img/logos/GitHub.svg" alt="GitHub Logo"></a>
        <a class="logo" href="https://www.instagram.com/nalsai_/" target="_blank" rel="noopener"><img src="/img/logos/Instagram.svg" alt="Instagram Logo"></a>
        <a class="logo" href="https://www.youtube.com/channel/UC-wQRakfwvTqrgPBF0_h_BQ" target="_blank" rel="noopener"><img src="/img/logos/YouTube.svg" alt="YouTube Logo"></a>
        <a class="logo" href="https://www.amazon.de/hz/wishlist/ls/1SBKLNVR41QIR" target="_blank" rel="noopener"><img src="/img/logos/Amazon.svg" alt="Amazon Germany Logo"></a>
        <a class="logo" href="http://steamcommunity.com/id/nalsai/" target="_blank" rel="noopener"><img src="/img/logos/Steam.svg" alt="Steam Logo"></a>
        <a class="logo" href="https://www.last.fm/user/Nalsai" target="_blank" rel="noopener"><img src="/img/logos/Lastfm.svg" alt="Last.fm Logo"></a>
        <a class="logo" href="https://www.amazon.co.jp/hz/wishlist/ls/3EEGZY8N84QQB" target="_blank" rel="noopener"><img src="/img/logos/AmazonJP.svg" alt="Amazon Japan Logo"></a>
        <a class="logo" href="https://anilist.co/user/Nalsai/" target="_blank" rel="noopener"><img src="/img/logos/AniList.svg" alt="AniList Logo"></a>
    </div>
</section>