{{ define "main" }}
<style>
.bi {
  vertical-align: sub;
}
</style>

<main class="container py-5">
    <div class="row text-center text-white mb-3">
        <div class="col-lg-10 mx-auto">
            <h1 class="display-4">{{ .Title }}</h1>
            {{ with .Params.tags }}{{ range $tag := . }}<a class="badge rounded-pill bg-primary text-decoration-none my-3" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a> {{ end }}{{ end }}
            <p class="lead mb-0">{{ .Description }}</p>
            <p class="lead">{{ .Content }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="border-bottom border-dark-subtle pt-4"></div>
            {{ range (where .Pages ".Params.unlisted" "!=" "true") }}
            <a href="{{ .RelPermalink }}" class="text-decoration-none section-item">
                <div class="d-flex py-4">    
                    <p class="text-light m-0">
                        <strong class="text-white">
                            {{ .Title }}
                            {{ .Params.japanese }}
                        </strong>
                        {{ if .Params.deutsch }}
                            – {{ .Params.deutsch }}
                        {{ end }}
                        {{ if .Params.translation }}
                            &nbsp;
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16">
                                <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/>
                                <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/>
                            </svg>&nbsp;„{{ .Params.translation }}”
                        {{ end }}
                    </p>
                </div>
            </a>
            <div class="border-bottom border-dark-subtle"></div>
            {{ end }}
        </div>
    </div>
</main>

<style>
    .section-item {
        opacity: .9;
        transition: 400ms ease;
    }

    .section-item:hover {
        opacity: 1;
        transition: 200ms ease;
    }
</style>
{{ end }}
