{{ define "main" }}
<style>
.bi {
  vertical-align: sub;
}
</style>

<main class="container py-5">
    <div class="row text-center mb-3">
        <div class="col-lg-10 mx-auto">
            <h1 class="display-4">{{ .Title }}</h1>
            {{ with .Params.tags }}{{ range $tag := . }}<a class="badge rounded-pill bg-primary text-decoration-none my-3" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a> {{ end }}{{ end }}
            <p class="lead mb-0">{{ .Description }}</p>
            <p class="lead">{{ .Content }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="border-bottom border-dark-subtle pt-4"></div>
            {{ range (where .Pages ".Params.unlisted" "!=" "true") }}
            <a href="{{ .RelPermalink }}" class="text-decoration-none hover-opacity">
                <div class="d-flex py-4">    
                    <p class=" text-body-secondary m-0">
                        <strong class="text-body-emphasis">
                            {{ .Title }}
                            {{ .Params.japanese }}
                        </strong>
                        {{ if .Params.deutsch }}
                            – {{ .Params.deutsch }}
                        {{ end }}
                        {{ if .Params.translation }}
                            &nbsp;
                            <i class="bi bi-translate"></i>&nbsp;„{{ .Params.translation }}”
                        {{ end }}
                    </p>
                </div>
            </a>
            <div class="border-bottom border-dark-subtle"></div>
            {{ end }}
        </div>
    </div>
</main>
{{ end }}
