{{ define "main" }}
<main class="container">
    <h1 class="my-4">{{ i18n "Pages" }} {{ i18n "with" }} {{with (i18n .Data.Singular)}}{{.}}{{else}}{{.Data.Singular}}{{end}}: {{ .Title }}</h1>
    <div class="border-bottom pt-4"></div>
    {{ range .Paginator.Pages }}
    <a href="{{ .RelPermalink }}" class="text-decoration-none">
        <div class="d-flex pt-3 mt-2 border-bottom">    
            <p class="pb-2">
                <strong class="d-block text-white">{{ .Title }}</strong>
                {{ if .Date}}<time class="link-light" datetime="{{ .Date.Format " 2006-01-02" }}">{{ i18n "Published" }} {{ dateFormat (default "2006-01-02" .Site.Params.dateFormat) .Date }}</time>{{ end }}
            </p>
        </div>
    </a>
    {{ end }}

    <div class="pt-5">
        {{ template "_internal/pagination.html" . }}
    </div>
</main>
{{ end }}