{{ define "main" }}
{{ $page := . }}
<style>
.bi {
  vertical-align: sub;
}
</style>

<main class="container py-5">
    <div class="row text-center mb-3">
        <div class="col-lg-10 mx-auto">
            <h1 class="display-4">{{ .Title }}</h1>
            {{ with .Params.tags }}{{ range $tag := . }}<a class="badge rounded-pill bg-primary text-decoration-none my-3" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a> {{ end }}{{ end }}
            <p class="lead mb-0">{{ .Description }}</p>
            <p class="lead">{{ .Content }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="border-bottom border-dark-subtle pt-4"></div>
            {{ range .Pages }}
            <a href="{{ .RelPermalink }}" class="text-decoration-none hover-opacity">
                <div class="d-flex py-4">    
                    <p class="m-0 text-body-secondary">
                        <strong class="d-block text-body-emphasis">
                            {{ .Title }}
                            {{ .Params.japanese }}
                            {{ if .Params.translation }}
                                <span class="link-light">({{ .Params.translation }})</span>
                            {{ end }}
                        </strong>
                        {{ if .Params.life }}
                            <i class="bi bi-calendar4-event"></i>&nbsp;{{ .Params.life }}
                            &nbsp;
                        {{ end }}
                        {{ if .Params.occupation }}
                            <i class="bi bi-people"></i>&nbsp;{{ .Params.occupation }}
                            &nbsp;
                        {{ end }}
                        {{ if .Params.works }}
                            <span class="d-block">
                                <i class="bi bi-book"></i>&nbsp;{{ range $i, $e := .Params.works }}{{ if $i }}, {{ end }}{{ with $page.GetPage (printf "%s%s%s" "../" . ".md" ) }}{{ .Title }}{{ else }}{{ . }}{{ end }}{{ end}}
                                &nbsp;
                            </span>
                        {{ end }}
                    </p>
                </div>
            </a>
            <div class="border-bottom border-dark-subtle"></div>
            {{ end }}
        </div>
    </div>
</main>
{{ end }}
