{{ define "head" }}
<script>
	var remark_config = {
		host: "https://r42.nils.moe",
		site_id: "nalsai",
        theme: document.documentElement.getAttribute('data-bs-theme') || "dark"
	}
</script>

<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
{{ end }}

{{ define "main" }}
{{ $page := . }}
<main class="container mt-3 print-mt-0">
    <a href="../" class="bi-chevron-left text-decoration-none d-print-none"> Zur Übersicht</a>
    <div class="row text-center mt-3 mb-5 print-mt-0">
        <div class="col-lg-10 mx-auto">
            <h1 class="mb-4 mt-3">{{ .Title }} {{ .Params.japanese }}</h1>
            {{ if .Description }}<p class="lead text-justify">{{ .Description }}</p>{{ end }}
            {{ if .Params.translation }}
                &nbsp;
                <i class="bi bi-translate"></i>&nbsp;„{{ .Params.translation }}”
            {{ end }}
            {{ if .Params.life }}
                <i class="bi bi-calendar4-event"></i>&nbsp;{{ .Params.life }}
            {{ end }}
            {{ if .Params.occupation }}
                <i class="bi bi-people"></i>&nbsp;{{ .Params.occupation }}
            {{ end }}
            {{ if .Params.works }}
                <p class="mt-2">
                    <i class="bi bi-book"></i>&nbsp;{{ range $i, $e := .Params.works }}{{ if $i }}, {{ end }}{{ with $page.GetPage (printf "%s%s%s" "../" . ".md" ) }}<a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ else }}{{ . }}{{ end }}{{ end}}
                </p>
            {{ end }}
        </div>
    </div>
    <div class="my-3">
        {{ .Content }}
    </div>
    <hr>
    <h2>{{ i18n "comments" }}</h2>
    <div id="remark42"></div>
</main>
{{ end }}
