{{ define "main" }}
{{ $page := . }}
<style>
.bi {
  vertical-align: sub;
}
</style>

<main class="container">
    <div class="row text-center text-white mb-3">
        <div class="col-lg-10 mx-auto">
            <a href="../" class="btn btn-primary btn-sm mt-4">
                <i class="bi bi-chevron-left"></i>&nbsp;Zur Autoren-Übersicht
            </a>
            <h1 class="mb-4 mt-3">{{ .Title }} {{ .Params.japanese }}</h1>
            {{ if .Description }}<p class="lead text-justify">{{ .Description }}</p>{{ end }}
            {{ if .Params.translation }}
                &nbsp;
                <i class="bi bi-translate"></i>&nbsp;„{{ .Params.translation }}”
            {{ end }}
            {{ if .Params.life }}
                <i class="bi bi-calendar4-event"></i>&nbsp;{{ .Params.life }}
            {{ end }}
            {{ if .Params.occupation }}
                <i class="bi bi-people"></i>&nbsp;{{ .Params.occupation }}
            {{ end }}
            {{ if .Params.works }}
                <p class="mt-2">
                    <i class="bi bi-book"></i>&nbsp;{{ range $i, $e := .Params.works }}{{ if $i }}, {{ end }}{{ with $page.GetPage (printf "%s%s%s" "../" . ".md" ) }}<a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ else }}{{ . }}{{ end }}{{ end}}
                </p>
            {{ end }}
        </div>
    </div>
    <div class="my-3 pb-3">
        {{ .Content }}
    </div>
</main>
{{ end }}
