@font-face {
    font-family: 'Sawarabi Gothic';
    src: local('Sawarabi Gothic'),
        url('/fonts/SawarabiGothic-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: local('Quicksand Regular'),
        url('/fonts/Quicksand-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Quicksand', 'Sawarabi Gothic', sans-serif;
}

.container img {
    max-width: 100%;
    height: auto;
}

.bi {
    vertical-align: -.125em;
    width: 1em;
    height: 1em;
}

.w-fit-content {
    width: fit-content;
}

.aspect-4-3 {
    aspect-ratio: 4 / 3;
}

.aspect-3-2 {
    aspect-ratio: 3 / 2;
}

.aspect-16-9 {
    aspect-ratio: 16 / 9;
}

.aspect-2-1 {
    aspect-ratio: 2;
}

.callout+.callout {
    margin-top: -.25rem;
}

.callout-warning {
    --bd-callout-color: var(--bs-warning-text-emphasis);
    --bd-callout-bg: var(--bs-warning-bg-subtle);
    --bd-callout-border: var(--bs-warning-border-subtle);
}

.callout {
    --bs-link-color-rgb: var(--bd-callout-link);
    --bs-code-color: var(--bd-callout-code-color);
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: var(--bd-callout-color, inherit);
    background-color: var(--bd-callout-bg, var(--bs-gray-100));
    border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}

.id-scroll-fix {
    padding-top: 3em;
    margin-top: -3em;
}

.goog-te-gadget {
    display: inherit;
    vertical-align: 0.125em;
}

.card-hover img {
    filter: brightness(90%);
    transition: 400ms ease;
}
.card-hover:hover img {
    filter: brightness(100%);
    transition: 200ms ease;
}
.card-title-bg {
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.8);
    padding: .5rem .8rem;
    border-radius: .6rem;
    width: fit-content;
}
