<div class="col-sm-6 col-lg-4 p-1 mt-1">
    <a {{ with .Get "gid" }}href="https://photos.app.goo.gl/{{ . }}"{{end}} {{ with .Get  "immich" }}href="https://immich.hachiman.nils.moe/share/{{ . }}"{{end}} class="card-hover">
        <div class="card text-bg-dark rounded-4 border-0">
            <img src="{{ .Get "img" }}" class="card-img rounded-4 aspect-{{ .Get "aspect" }}" alt="{{ .Get "title" }} {{ i18n "preview-image" }}" loading="lazy">
            <div class="card-img-overlay d-flex">
                <h5 class="card-title card-title-bg mt-auto mb-0">{{ .Get "title" }}</h5>
            </div>
        </div>
    </a>
</div>