+++
title = "Goshuin Collection"
date = 2024-01-06
tags = ["Japan", "Goshuin"]
layout = "single"
+++

<!--
TODO: 
- add prefecture display
- add filter by prefecture
- sort by date
- add information about goshuin
- add collection information
- add information how to add data
- add collection statistics
- add last updated date / latest goshuin date
- add error handling
- upgrade to vue 3
-->
<a class="d-block" href="about/">About</a>
<a class="d-block mb-4" href="instructions/">Instructions</a>

<div id="app">
    <input type="text" v-model="searchQuery" placeholder="Search">
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/vue-masonry-css"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            goshuins: [],
            searchQuery: '',
            type: 'all'
        },
        mounted() {
            axios.get('data.json')
                .then(response => {
                    this.goshuins = response.data.goshuins;
                })
                .catch(error => {
                    console.error('Error fetching Goshuin data:', error);
                });
        },
        computed: {
            filteredGoshuins() {
                if (this.type === 'all') {
                    return this.filteredGoshuinsStep1;
                } else {
                    return this.filteredGoshuinsStep1.filter(goshuin => goshuin.type === this.type);
                }
            },
            filteredGoshuinsStep1() {
                return this.goshuins.filter(goshuin => {
                    return goshuin.location.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
                        goshuin.locationJp.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
                        goshuin.image.toLowerCase().includes(this.searchQuery.toLowerCase());
                });
            }
        },
        template: `
        <div>
            <input class="form-control mb-4" type="text" v-model="searchQuery" placeholder="Search">
            <div class="btn-group mb-4" role="group" aria-label="radio toggle button group for goshuin type">
                <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" @click="type = 'all'" checked/>
                <label class="btn btn-outline-primary" for="vbtn-radio1">All</label>
                <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off" @click="type = 'shrine'"/>
                <label class="btn btn-outline-primary" for="vbtn-radio2">Shrines</label>
                <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio3" autocomplete="off" @click="type = 'temple'"/>
                <label class="btn btn-outline-primary" for="vbtn-radio3">Temples</label>
            </div>
            <masonry :cols="{default: 3, 991: 2, 575: 1}" :gutter="24">
                <div v-for="goshuin in filteredGoshuins" class="card mb-4">
                    <img :src="'img/'+goshuin.image" :alt="goshuin.location + ' goshuin'" class="card-img-top aspect-{{ goshuin.imageAspectRatio }}">
                    <div class="card-body">
                        <p class="card-title">
                            <span class="h4 d-block">{{ goshuin.location }}</span>
                            <span class="text-light">{{ goshuin.locationJp }}</span>
                        </p>
                        <p class="card-text">
                            <span v-if="typeof goshuin.locationDetails !== 'undefined'">
                                {{ goshuin.locationDetails }} <br>
                            </span>
                            <strong>Type:</strong> {{ goshuin.type }}<br>
                            <strong>Date:</strong> {{ goshuin.date }}<br>
                            <strong>Notes:</strong> {{ goshuin.notes }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        `
    });
</script>
