+++
title = "Goshuin Collection"
date = 2024-01-06
tags = ["Japan", "Goshuin"]
layout = "single"
+++

<!--
TODO:
- add image viewer
- add prefecture display and filter
- add/improve info
- add collection statistics
- sort by date
- upgrade to vue 3
-->
<a class="d-block" href="about/">About</a>
<a class="d-block mb-4" href="instructions/">Instructions</a>

<div id="app">
    <input type="text" v-model="searchQuery" placeholder="Search" class="d-none">
    Loading...<br>
    This site uses Vue.js and therefore needs JavaScript to be enabled in your browser.<br>
    If you have JavaScript enabled and still see this message, please contact me.
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/vue-masonry-css"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            goshuins: [],
            searchQuery: '',
            type: 'all'
        },
        mounted() {
            axios.get('data.json')
                .then(response => {
                    this.goshuins = response.data.goshuins;
                })
                .catch(error => {
                    console.error('Error fetching Goshuin data:', error);
                    // TODO: display error message to user
                });
        },
        methods: {
            normalizeString(str) {
                return str.toLowerCase()
                    .replace(/ō/g, 'o')
                    .replace(/ū/g, 'u')
                    .replace(/ou/g, 'o')
                    .replace(/oo/g, 'o')
                    .replace(/uu/g, 'u')
                    .replace(/tsu/g, 'tu')
                    .replace(/ /g, '')
                    .replace(/-/g, '');
            }
        },
        computed: {
            filteredGoshuins() {
                if (this.type === 'all') {
                    return this.filteredGoshuinsStep1;
                } else {
                    return this.filteredGoshuinsStep1.filter(goshuin => goshuin.type === this.type);
                }
            },
            filteredGoshuinsStep1() {
                return this.goshuins.filter(goshuin => {
                    let normalizedSearchQuery = this.normalizeString(this.searchQuery);
                    return this.normalizeString(goshuin.location).includes(normalizedSearchQuery) ||
                        this.normalizeString(goshuin.prefecture).includes(normalizedSearchQuery) ||
                        this.normalizeString(goshuin.locationJp).includes(normalizedSearchQuery) ||
                        this.normalizeString(goshuin.date).includes(normalizedSearchQuery);
                });
            }
        },
        template: `
        <div>
            <div class="row g-3">
                <div class="col-sm">
                    <input class="form-control" type="text" v-model="searchQuery" placeholder="Search">
                </div>
                <div class="col-sm-auto">
                    <div class="btn-group mb-4" role="group" aria-label="radio toggle button group for goshuin type">
                        <input type="radio" class="btn-check" name="btn-radio" id="btn-radio1" autocomplete="off" @click="type = 'all'" checked/>
                        <label class="btn btn-outline-primary" for="btn-radio1">All</label>
                        <input type="radio" class="btn-check" name="btn-radio" id="btn-radio2" autocomplete="off" @click="type = 'shrine'"/>
                        <label class="btn btn-outline-primary" for="btn-radio2">Shrines</label>
                        <input type="radio" class="btn-check" name="btn-radio" id="btn-radio3" autocomplete="off" @click="type = 'temple'"/>
                        <label class="btn btn-outline-primary" for="btn-radio3">Temples</label>
                    </div>
                </div>
            </div>

            <masonry :cols="{default: 3, 991: 2, 575: 1}" :gutter="24">
                <div v-for="goshuin in filteredGoshuins" class="card mb-4">
                    <img :src="'img/'+goshuin.image" :alt="goshuin.location + ' goshuin'" class="card-img-top aspect-{{ goshuin.imageAspectRatio }}">
                    <div class="card-body">
                        <p class="card-title">
                            <span class="h4 d-block">{{ goshuin.location }}</span>
                            <span class="text-light">{{ goshuin.locationJp }}</span>
                        </p>
                        <p class="card-text">
                            <span class="text-capitalize">{{ goshuin.type }}</span>
                            <span v-if="typeof goshuin.prefecture !== 'undefined'">in {{ goshuin.prefecture }} Prefecture</span><br>

                            <span v-if="typeof goshuin.limited !== 'undefined'">{{ goshuin.limited }}<br></span>
                            <span v-if="typeof goshuin.locationDetails !== 'undefined'">{{ goshuin.locationDetails }}<br></span>
                            <strong>Visit Date:</strong> {{ goshuin.date }}<br>
                            <span v-if="typeof goshuin.notes !== 'undefined'"><strong>Notes:</strong> {{ goshuin.notes }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        `
    });
</script>
